// Queue and retry strategy
process {
    executor = 'lsf'
    queue = 'small'
    memory = '10 GB'
    errorStrategy = 'retry'
    maxRetries = 0
    shell = ['/bin/bash', '-euo', 'pipefail']
}

// Executor details
executor{
    name = 'lsf'
    perJobMemLimit = true
    poolSize = 4
    submitRateLimit = '2 sec'
    killBatchSize = 50
}

// Capturing Nextflow log files into a reports directory
timeline {
    enabled = true
    overwrite = true
    file = "timeline.html" 
}
report {
    enabled = true
    overwrite = true
    file = "report.html"
}
trace {
    enabled = true
    overwrite = true
    file = "trace.txt"
}

// Ensures work directories and removed when pipeline completes
cleanup = true
